.sobremim{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 80%;
    margin: 0 auto;
}

.sobre_mim_container{
        font-size: 1.5em;
        text-align: left;
        margin-top: 2em;
        margin-right: 15em;
        flex-wrap: wrap;    

}

@media(max-width: 850px){
    .sobre_mim_container{
        font-size: 1.5em;
        text-align: left;
        margin-top: 2em;
        margin-right: 20em;
        flex-wrap: wrap;    
}
}

@media(max-width: 710px){
    .sobremim{
         width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .container{
        display: flex;
        justify-content: space-between;
    }
    
    
    .sobre_mim_container{
        font-size: 1em;
        display: flex;
        text-align: left;
        margin-top: 4em;
        margin-right: 20em;
        flex-wrap: wrap;
}

}
