 .div{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;

       
 }
 
 .sobremim{
    font-size: 2.5em;
    margin-bottom: .5em;

    
}
/*.container{
    width: 100%;
    margin: 0 auto;
}*/

.pp{
    font-size: 1.9em;
    text-align: left;
    margin-top: -5em;
    margin-right: 15em;
    flex-wrap: wrap;  
    
}

@media(max-width: 850px){
    .sobremim{
        font-size: 2.5em;
        margin-bottom: .5em;
       
    }

    .pp{
        margin: 0em;
        font-size: 2.5em;
        margin-bottom: .5em;
        width: 100%;
        margin-top: 40px;
        line-height: 2.5rem;
}
}

@media(max-width: 710px){
    .sobremim{
        font-size: 2.5em;
    margin-bottom: .5em;
        
    }

    .container{
        display: flex;
        justify-content: space-between;
    }
    
    
    .pp{
        font-size: 1.5em;
        margin: 2em;
        width: 40%;
        margin-top: 40px;
        line-height: 2.5rem;
}

}
