.navbar{
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 2em;
}

.item a {
    color: #76C2AF;
    text-decoration: none;
}
.item a:hover {
    color: #222;
}





@media( max-width: 1090px){
    .navbar{
        font-size: 1.5em;
        display: flex;
    }
   .img{
        display: flex;
        justify-content: flex-start;
        margin-bottom: .5em;
    }

    .list{
        margin: 0em 0em 0em 0em;
    }
}

@media( max-width: 768px){
    .navbar{
        font-size: 1.15em;
    }

    .list{
        display: flex;
    }
}

@media (max-width: 500px){
    .navbar{
        flex-direction: column;
        font-size: .5em;
        text-align: center;
        
    }

    .list{
        font-size: 2em;
        margin: 2em 103em 2em 11em;
        flex-direction: column;
        text-align: center;
        line-height: 4em;

    }

    .img{
        width: 210px;
        text-align: center;
        margin: 0em 0em 0em 15em;

    }
}

@media (max-width: 435px){

    .img{
        width: 200px;
        text-align: center;
        margin: 0em 0em 0em 5em;

    }

    

    
}

@media(min-width: 1357px){
    .list{
        font-size: 1.4em;
    }
}

